.popup__close-button {
   background-image: url('../../../images/CloseIcon.svg');
   background-color: transparent;
   width: 32px;
   height: 32px;
   position: absolute;
   top: -40px;
   right: -40px;
   cursor: pointer;
   border: none;
   outline: none;
}

@media (max-width: 885px) {
   .popup__close-button {
      background-size: contain;
      top: -36px;
      right: 0;
      width: 20px;
      height: 20px;
   }
}

.popup__close-button:hover {
   opacity: 0.6;
   cursor: pointer;
}