.footer__copyright {
   padding: 0 0 60px;
   margin: 0;
   font-size: 18px;
   line-height: 22px;
   color: #545454;
}

@media screen and (max-width: 885px) {
   .footer__copyright {
      margin-left: 19px;
      padding-bottom: 36px;
      font-size: 14px;
      line-height: 17px;
   }
}